/* ================
	QUOTE WIDGET
======================= */

@use '../../../00-base/base' as *;

.paragraph--type--quote{
	@include textConstrain;
	.widget-title{
		margin-bottom: $spaceMd;
	}
	.widget-wrapper{
		@include smallTab{
			@include safeFlex(row,wrap,start,start);
		}
	}
	.field-image{
		margin: 0 auto $spaceMd;
		width: 200px;
		border-radius: 50%;
		overflow: hidden;
		@include smallTab{
			max-width: 200px;
			margin: 0 $spaceMd 0 0;
		}
	}
	.quote-text-wrapper{
		width: 100%;
		&:not(:first-child){
			@include smallTab{
				width: calc(100% - 232px);
			}
		}
	}
	//quote text
	.field-quote{
		@include quote;
	}//end long text
	//source
	.field-source{
		text-align: right;
		position: relative;
		font-weight: bold;
		text-transform: uppercase;
		&:before{
			content: '–';
			left: -2.5rem;
		}
		@include tab{
			font-size: 2.25rem;
		}
	}
}//end quote widget
