/* ============
	 CHECKBOX
=============== */

@use '../../../00-base/base' as *;
@use 'form-mixins' as *;

form:not(.layout-builder-add-block):not(.layout-builder-update-block){
	.form-checkboxes,.js-webform-checkboxes{
		margin-bottom: -$spaceXxs;
		@include safeFlex(row,wrap,null,null);
		fieldset &{
			margin-left: -2rem;
			margin-right: -2rem;
		}
	}

	.checkboxes--wrapper{
		padding: 0;
		legend{
			@include formLabel;
		}
		.fieldset-wrapper{
			margin: 0;
		}
	}


	.js-form-type-checkbox{
		width: auto;
		margin-right: 3rem;
		margin-bottom: $spaceXxs;
		label,input{
			display: inline-block;
		}
		label{
			font-weight: $regular;
			margin-bottom: 0;
		}
		input[type="checkbox"]{
			margin-right: .6rem;
		}
		&.custom-options{
			@include customOptions;
		}


		position: relative;
		margin-bottom: 1rem;
		margin-top: 1rem;

		label {
			display: block;
			padding: 0 0 0 35px;
		}

		input {
			opacity: 0;
		}
		input,
		input + label::before {
            position: absolute;
			top: 3px;
			height: 20px;
			left: 0;
			width: 20px;
		}
		input + label::before {
			border: 1px solid $checkboxChecked;
			content: "";
		}
		input + label::after {
			content: "";
			opacity: 0;
			@include materialIconOutline(\e5ca);
			height: 20px;
			width: 20px;
			position: absolute;
			left: 1px;
			top: 4px;
			font-size: 19px;
			transition: opacity 0.2s ease-in-out;
		}
		input:checked + label::after {
			opacity: 1;
			background-color: $checkboxChecked;
			color: $white;
		}
		input:hover + label::before,
		input:focus + label::before {
			box-shadow: 0 0 0 2px $checkboxChecked;
			outline: 3px solid transparent; /* For Windows high contrast mode. */
			background-color: $grey;
		}
		input:checked:hover + label::after,
		input:checked:focus + label::after {
			box-shadow: 0 0 0 2px $checkboxChecked;
			outline: 3px solid transparent; /* For Windows high contrast mode. */
			background-color: $midGrey;
		}

	}//end form type checkbox
}//end form
