/* ===========
   DATE
================ */

@use '../../../00-base/base' as *;
@use 'form-mixins' as *;

field--type-datetime{
	margin-bottom: $formElementSpace;
	.label{
		@include formLabel;
	}
	.description{
		margin-top: -$spaceSm;
	}
}

.field--type-daterange{
	legend{
		@include formLabel;
	}
	.description{
		margin-top: -$spaceSm;
	}
	.fieldset-wrapper{
		.label{
			font-size: 2rem;
			font-weight: $heavy;
			margin-bottom: 3px;
		}
	}
}

.js-form-type-date,.form-item-html-5-date{
	input{
		@include textInput;
		max-width: 360px;
	}
}
.js-form-type-webform-time{
	input{
		@include textInput;
		max-width: 120px;
	}
}

//date picker
.js-form-type-datetime{
	.container-inline{
		@include safeFlex(row,nowrap,start,start);
		.js-form-type-date{
			max-width: 230px;
			margin-right: 10px;
			margin-bottom: 0;
		}
		.js-form-type-webform-time{
			max-width: 120px;
			margin-bottom: 0;
		}	
	}//end container inline
}//end date picker

//date list
.js-form-type-datelist{
	.container-inline{
		@include safeFlex(row,wrap,start,start);
		margin-bottom: -$spaceSm;
		& > *{
			display: block;
		}
	}
	.form-item{
		margin-bottom: $spaceSm !important;
		width: 100%;
		max-width: 160px;
		margin-right: 1rem;
	}
} //end date list



