/* FILE
=========== */

@use '../../../00-base/base' as *;
@use 'form-mixins' as *;

.js-form-type-managed-file,.form-item-file-upload-field,.js-form-item-file-upload-field{
	@include fileUpload;
}
.js-form-type-webform-document-file,.form-item-document-upload,.js-form-item-document-upload{
	@include fileUpload;
	label.button{
		display: inline-block;
		color: $buttonText;
		padding: $buttonPadding;
		font-size: $button;
		&:hover,&:focus{
			color: $buttonTextHover;
		}
		&:active{
			color: $buttonTextActive;
		}
	}
}
