/* ===============
	SELECT INPUT
==================== */

@use '../../../00-base/base' as *;
@use 'form-mixins' as *;

/* SELECT 2
----------------- */
//hide optgroup safari bug fix
optgroup:empty{
	display: none;
}

//hide custom optgroup labels (ios10 bug fix)
.select2-results__group{
	display: none !important;
}

//override script set width
.select2-container--default{
	width: 100% !important;
	max-width: 240px;
}

/* IN BODY AND OFF CANVAS */
body,#drupal-off-canvas-wrapper-wrapper{
	select{
		background: none;
		&:hover,&:focus{
			background: none;
		}
	}
	.select2-container{
		margin-bottom: 0;
	}
	.select2-container--default{

		/* SELECT 2 SINGLE */
		.select2-selection--single{
			@include inputSelect;
			&:hover{
				box-shadow: inset 0 0 0 1px $inputBorderHover;
			}
			&:focus{
				outline: none;
				box-shadow: inset 0 0 0 1px $inputBorderFocus;
			}
			&[aria-expanded="true"]{
				box-shadow: inset 0 0 0 1px $inputBorderFocus;
				border-color: $inputBorderFocus;
			}
			.select2-selection__choice__remove{
				position: relative;
				z-index: 999;
			}
			//rendered selection
			.select2-selection__rendered{
				padding: .75rem 4rem .75rem 1.5rem;
				color: $placeColor;
				text-align: left;
				background: $siteBack;
			}
			.select2-selection__arrow{
				background-image: none;
				top: 9px;
				right: 10px;
				@include transFormAnimate;
				//hide default select2 arrow
				b{
					display: none;
				}
				// arrow symbol
				&:after {
					@include materialIconOutline(\e5cf);
					position: absolute;
					top: 0;
					right: 0;
					z-index: 2;
					pointer-events: none;
				}
			}
		}//end single

		/* SELECT 2 MULTI */
		.select2-selection--multiple{
			@include inputSelect;
			padding: 5px 3.5rem 6px 1.5rem;
			&:after{
				content: '';
				@include safeFlex(row,no-wrap,center,center);
				@include setDimensions(24px,24px);
				position: absolute;
				background-image: none;
				@include materialIconOutline(\e5cf);
				top: 12px;
				right: 12px;
				@include transFormAnimate;
			}
			&:hover{
				box-shadow: inset 0 0 0 1px $inputBorderHover;
			}
			&:focus{
				outline: none;
				box-shadow: inset 0 0 0 1px $inputBorderFocus;
			}
			&[aria-expanded="true"]{
				box-shadow: inset 0 0 0 1px $inputBorderFocus;
				border-color: $inputBorderFocus;
			}
			.select2-selection__rendered{
				padding: 0 2px;
				.select2-selection__choice{
					font-size: 14px;
				}
			}
			.select2-selection__choice__remove{
				position: relative;
				z-index: 999;
			}
			//selection input
			.select2-search--inline{
				position: relative;
				float: none;
				padding: 2px 3px;
				input.select2-search__field{
					color: $darkGrey;
					@include placeholder;
					&:focus{
						@include placeholderFocus;
					}
				}
			}//end search inline

			//selected item
			.select2-selection__choice{
				border-radius: 0;
				background-color: $offWhite;
			}
		}//end multi


		/* ACTIVE SELECT 2 */
		&.select2-container--open,&.select2-container--focus{
			//single
			.select2-selection--single{
				.select2-selection__arrow{
					@include rotate(180);
				}
			}//end single

			//multiple
			.select2-selection--multiple{
				border-width: 2px;
				&:after{
					@include rotate(180);
				}
				.select2-search--inline{
					input.select2-search__field{
						@include placeholder;
						&:focus{
							@include placeholderFocus;
						}
					}
				}
			}//end multiple
		}//end active

	}// end select2 default
}//end body / off canvas



/* SELECT 2 DROPDOWNS
---------------- */
.select2-container{
	.select2-dropdown{
		border: $inputBorderWidth solid $inputBorderFocus;
		border-radius: 0;
		border-top: 0;
		padding: 0;
		.select2-search__field{
			outline: none;
			border-color: $inputBorderFocus;
		}
		.select2-results__options{
			font-size: 16px;
		}
	}
}
.select2-container--default .select2-results__option[aria-selected="true"]{
	background-color: $offWhite;
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
	background-color: $selectHighlight !important;
}

