/* base colors */

$offWhite     : #f6f6f6;
$iceBlue      : #f2f9fb;
$darkIce      : #e4f5fc;
$lightGrey    : #ededed;
$grey         : #ccc;
$midGrey      : #615f6b;
$darkGrey     : #37363b;
$black        : #000;
$brightRed    : #dd241b;
$red          : #bf0e0e;


