/* ====================
   FONT VARIABLES
==================== */
@use 'component-colors' as *;
@use 'units' as *;

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/MaterialIcons.woff2) format('woff2'),
	url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'Material Icons Outlined';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/MaterialIconsOutlined.woff2) format('woff2'),
	url(../fonts/MaterialIconsOutlined-Regular.otf) format('opentype');;
}

/*  FAMILIES
-------------------- */
$header       : "Open Sans", Helvetica, Arial, sans-serif;
$displayHeader: "Open Sans", Helvetica, Arial, sans-serif;
$bodyFont     : "Open Sans", Helvetica, Arial, sans-serif;
$serif        : Georgia, "Times New Roman", Times, serif;

/*  WEIGHTS
-------------------- */
$light: 300;
$regular: 400;
$heavy:  700;
$x-heavy: 900;

/*  SIZES
-------------------- */
$baseSize: 2.25rem;
$formLabelSize: 2.5rem;
$formLabelWeight: 700;
$button: 2rem;
$socialIcons: 4rem;

//h1 sizes
$h1Sm: 4rem;
$h1Mid: 5.5rem;
$h1Lg: 7rem;

//h2 sizes
$h2Sm: 3rem;
$h2Md: 3.5rem;
$h2Lg: 4rem;

//h3 sizes
$h3Sm: 3rem;
$h3Mid: 3.5rem;

//h4 sizes
$h4Sm: 2.75rem;

//h5 sizes
$h5Sm: 2.5rem;

//h6 sizes
$h6Sm: 2rem;

/* FONT AND TYPE MIXINS
--------------------------- */
@mixin headerGlobals{
	line-height: 1.15;
	font-weight: $heavy;
	font-family: $header;
	margin: 0;
	font-feature-settings: "liga", "dlig";
}

@mixin heading1{
	@include headerGlobals;
	font-family: $displayHeader;
	font-size: $h1Sm;
	@include tab{
		font-size: $h1Mid;
	}
	@include contentStop{
		font-size: $h1Lg;
	}
}

@mixin heading2 {
	@include headerGlobals;
	font-size: $h2Sm;
	@include tab{
		font-size: $h2Md;
	}
	@include contentStop{
		font-size: $h2Lg;
	}
}

@mixin heading3{
	@include headerGlobals;
	font-size: $h3Sm;
	@include tab{
		font-size: $h3Mid;
	}
}

@mixin heading4{
	@include headerGlobals;
	font-size: $h4Sm;
}

@mixin heading5{
	@include headerGlobals;
	font-size: $h5Sm;
}

@mixin heading6{
	@include headerGlobals;
	font-size: $h6Sm;
}

@mixin blockTitle{
	@include headerGlobals;
	font-size: 2.5rem;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	max-width: $textMax;
	margin-bottom: $spaceMd;
	@include auto;
}

@mixin inlineBlockTitle{
	@include blockTitle;
	margin-bottom: 0;
	display: inline-block;
	& + *{
		display: inline;
	}
}

//H1 on banners
@mixin bannerTitle{
	position: relative;
	opacity: 0;
	@include animation('fadeIn 1.2s 1 forwards');
	.block-field-image{
		position: relative;
		@include overlay;
		@include edgeToEdge;
	}
	.block-title{
		@include tab{
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 2;
			@include translate(-50%,-50%);
			h1{
				color: $white;
			}
		}
	}
}//end banner title

@mixin metaText{
	font-size: 2rem;
	font-style: italic;
	font-family: $serif;
}

@mixin quote{
	margin: 0 0 $spaceXs;
	position: relative;
	font-family: $serif;
	font-style: italic;
	font-size: 3rem;
	padding-bottom: $spaceXs;
	@include tab{
		font-size: 4.5rem;
		padding-bottom: 0;
	}
	p{
		display: inline;
	}
	.quote-pre{
		color: $transBlack;
		font-size: 14rem;
		line-height: .1rem;
		margin-right: 2rem;
		vertical-align: -6.4rem;
	}
	.quote-post{
		color: $transBlack;
		content: "”";
		font-size: 8rem;
		line-height: .1rem;
		vertical-align: -3.2rem;
		display: inline-block;
	}
}//end quote

%materialSetup{
	font-style: normal;
  font-weight: 400;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}
@mixin materialIcon($icon){
	content: '#{$icon}';
	font-family: 'Material Icons';
  @extend %materialSetup;
}
@mixin materialIconOutline($icon){
	content: '#{$icon}';
	font-family: 'Material Icons Outlined';
  @extend %materialSetup;
}

.material-icons {
	font-family: 'Material Icons';
}

.material-icons-outlined {
	font-family: 'Material Icons Outlined';
}
