/* ===================
   BACK TO TOP
==================== */
@use '../../../00-base/base' as *;

.back-anchor{
	display: none;
	position: fixed;
	bottom: 3%;
	right: 3%;
	box-shadow: 3px 3px 5px rgba(35,35,35, 0.25);
	z-index: 500;
	border-radius: 50%;
	a{
		display: block;
		width: 56px;
		height: 56px;
		background-color: rgba(0,0,0,0.45);
		border-radius: 50%;
		position: relative;
		text-align: center;
		background-image: none;
		&:after {
			@include materialIconOutline(\e5ce);
			color: $white;
			position: relative;
			top: 1rem;
			font-size: 36px;
		}
		&:hover,&:focus{
			background-color: $link;
		}
	}
}//end back anchor
