/* ============
   PAGES GLOBAL
=============== */

@use '../../00-base/base' as *;

html > body:not(.is-front):not(.path-node){
	.layout-content{
		max-width: $contentStop + 40px;
		@include auto;
		padding: 0 $siteMarginMobile $siteBottomSpace;
	}
	#block-citizen-dart-content{
		padding-top: $elementSpace;
	}
	.block-page-title-block{
		margin-bottom: $elementSpace;
	}

}//system pages

