/* ===============
   LAYOUT
=================== */

/* LAYOUT INDEX
------------------- */
@forward 'footer/footer';
@forward 'header/header';
@forward 'layouts/layouts';

@use '../../00-base/base' as *;
@use '../../01-parts/buttons/button-mixins' as *;
@use '../../01-parts/forms/elements/form-mixins' as *;

/* LAYOUT BUILDER FORM CUSTOMIZATIONS
---------------------------------- */

.block-system-main-block {
	.layout-builder-form,.layout-builder-discard-changes,.layout-builder-revert-overrides{
		.form-actions{
			@include safeFlex(row,wrap,start,start);
			& > input{
				margin-right: 1.5rem;
				margin-top: 1rem;
				min-width: 204px !important;
			}
			.button--primary{
				@include submitButton;
			}
			#edit-discard-changes{
				@include cautionButton;
			}
			#edit-revert,a#edit-cancel{
				@include warningButton;
				margin-top: 1rem;
			}
		}
	}
}

//hide the builder label and only show it later when in layout builder
.builder-label{
	display: none;
}
