/* ===============
   GALLERY WIDGET
==================== */

@use '../../../00-base/base' as *;
@use '../../../02-chunks/media/media-mixins' as *;

.paragraph--type--gallery{
	max-width: 100%;
	.lightbox{
		.gallery-wrapper{
			@include safeFlex(row,wrap,center,start);
			@include bleed(padding,32px);
			margin-bottom: -$spaceMd;
			//hide the content before lightbox
			.featherlight-hidden {
				display: none;
			}
			//Image lighbox
			.image-gal {
				margin-bottom: $spaceMd;
				overflow: hidden;
				cursor: pointer;
				width: 100%;
				max-width: 308px;
				img {
					width: 100%;
					@include imageHover;
				}

			}//end image lightbox
		}//end gallery-wrapper
	}//end lightbox
	.slider {
		@include textConstrain;
		//slider container overrides layout padding on mobile
		.field-image-multi {
			@include edgeToEdge;
			width: calc(100% + 40px);
			@include tab {
				@include edgeReset;
				width: 100%;
			}
			img {
				width: 100%;
			}
		}
	}//end slider
}//end gallery paragraph




