/* ========================
  USER DASHBOARD
========================== */

@use '../../00-base/base' as *;

.user-dashboard{
	.field-user-image{
		border-radius: 50%;
		overflow: hidden;
		@include onlyMobile{
			max-width: 225px;
		}
	}
	.block-name{
		margin-bottom: $spaceXxs;
		h1{
			margin-bottom: $spaceXs;
		}
	}
	.user-actions{
		margin-bottom: $elementSpace;
		@include safeFlex(row,wrap,start,start);
		@include bleed(padding,16px);
		div{
			display: inline-block;
			&:not(:last-child){
				position: relative;
				&:after{
					@include vertRule(right,80%,$borderRule);
				}
			}
		}
	}
	.layout--tabs .layout__region--tabs{
		.tab-item{
			padding-top: 0;
		}
	}
}//end user dashboard


/* CONTENT VIEWS
-------------------- */

.views-block.block-user-dashboard{
	@include onlyMobile{
		padding-top: 1rem;
	}
	.view-empty{
		padding-top: $spaceLg;
	}
	table{
		@include desk{
			border-top: 0;
		}
	}
	
	.views-field-title{
		@include desk{
			width: calc(100% - 255px);
		}
		a{
			text-decoration: none;
			&:hover,&:focus{
				text-decoration: underline;
			}
		}
		.restricted{
			margin-left: .5rem;
			color: $red;
			font-size: 1.4rem;
		}
	}
	&.all-recents{
		.views-field-title{
			@include desk{
				width: calc(100% - 525px);
			}
		}
	}
	.views-field-changed{
		@include desk{
			width: 180px;
		}
	}
	.views-field-uid{
		@include desk{
			width: 180px;
		}
	}
	.views-field-operations{
		&.st-val{
			padding-top: .6rem;
			padding-bottom: .5rem;
		}
		@include desk{
			width: 165px !important;
			max-width: 165px;
		}
	}
}//end views block

/* MODERATED CONTENT
---------------------- */
.views-block.block-moderated-content{
	h2.block-title{
		display: none;
	}
	table{
		@include desk{
			border-top: 0;
		}
	}
}

.user-dashboard .view-content table.small-only{
	.st-key{
		width: 150px;
	}
	.st-val{
		width: calc(100% - 150px);
		padding-right: 1rem;
		max-width: none;
	}
}
