/* ============
   TYPOGRAPHY
============== */

@use '../../00-base/base' as *;

/* HEADING STYLING
------------------- */
h1 {
	@include heading1;
}

h2{
	@include heading2;
	.text-long &,.text-with-summary &{
		margin-bottom: $spaceLg;
	}
}

h3{
	@include heading3;
	.text-long &,.text-with-summary &{
		margin-bottom: $spaceMd;
	}
}

h4{
	@include heading4;
	.text-long &,.text-with-summary &{
		margin-bottom: $spaceSm;
	}
}

h5{
	@include heading5;
	.text-long &,.text-with-summary &{
		margin-bottom: $spaceXs;
	}
}

h6{
	@include heading6;
}

h2+ul, h3+ul, h4+ul, h5+ul, h6+ul {
	margin-top: 0;
}



/* BLOCK, SECTION AND WIDGET HEADINGS
-------------------------- */
.block-title{
	max-width: $textMax;
	text-align: center;
	@include auto;
}
h2.block-title{
	@include blockTitle;
}
h2.section-title{
	@include blockTitle;
	font-size: 3rem;
	max-width: $textMax + 40px;
}
.widget-title,.field-widget-title{
	@include blockTitle;
	letter-spacing: 0;
	text-transform: none;
}

/* TEXT STYLES
--------------- */
html,code{
	font-family: $bodyFont;
	font-size: $em-base;
	line-height: 1.4;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-kerning: normal;
	font-synthesis: none;
}

body {
	color: $baseText;
	margin: 0;
	font-size: $baseSize;
}

p{
	margin-top: 0;
	&:not(:last-child){
		margin-bottom: $spaceMd;
	}
}

a {
	color: $link;
	text-decoration: none;
	&:hover,&:focus {
		color: $hoverLink;
		text-decoration: underline;
		.text-with-summary &,.text-long &{
			@include transAll(.3s);
		}
	}
}

em{
	font-style: italic;
}
strong{
	font-weight: $heavy;
}

small{
	font-size: 80%;
}

.warning{
	background: none;
	padding: 1rem 2rem;
	margin-bottom: $spaceMd;
	color: $validation;
	border: 1px solid $validation;
	text-align: center;
}

.hr,hr {
	border-style: solid;
	border-width: 1px 0 0;
	color: currentColor;
	& + *{
		margin-top: $spaceMd;
	}
}

blockquote{
	@include quote;
}

//clear floats in common long text fields, remove bottom margin from last child
.text-with-summary,.text-long{
	@include clearFix;
	& > *:last-child{
		margin-bottom: 0;
	}
	& + *{
		clear: both;
	}
	article:not(:last-child){
		margin-bottom: $spaceMd;
	}
}//end text-with-summary,text-long

/* ICONS
--------------- */

//svg icon color
svg{
	fill: currentColor;
	use{
		fill: currentColor;
	}
}

