/* ===============
   TAXONOMY TERM PAGES
================= */

@use '../../00-base/base' as *;


.path-taxonomy{
	.term-title{
		margin-bottom: $elementSpace;
	}
	.taxonomy-term{
		max-width: $textMax;
		@include auto;
		.view-header{
			.block-title{
				padding-top: $spaceMd;
			}
		}
		.view-content{
			@include tab{
				@include safeFlex(row,wrap,start,start);
				@include bleed(padding,40px);
				width: 100%;
			}
			.views-row{
				margin-bottom: $spaceMd;	
				@include tab{
					width: 50%;
				}
			}
		}//end view content
	}//end taxonomy term
	.feed-icon{
		display: none;
	}
	//restricted access message
	&:not(.logged-in){
		.restricted-node{
			min-height: 400px;
			@include safeFlex(column,nowrap,center,center);
			& > div{
				max-width: $textMax + 40px;
				border: 1px solid $borderRule;
				padding: 40px 30px;
			}
		}
	}//end restricted access
}//end path taxonomy

