/* ================
	 FIELDS
============== */
@use '../../00-base/base' as *;

.field{
	span.inline-label{
		font-weight: $heavy;
		margin-right: 1rem;
		& + div{
			display: inline;
			//if multifield
			&.field-multi-item{
				& > div{
					display: inline;
				}
			}
		}
	}//end inline label
	&.long-text,&.text-with-summary{
		@include clearFix;
	}
}//end field

/* SOCIAL MEDIA LINKS FIELD
-------------------- */
.field-platforms{
	margin-bottom: -$spaceXxs;
	.platform-links{
		@include listReset;
		@include safeFlex(row,wrap,start,start);
		@include bleed(padding,12px);
		li{
			margin-bottom: $spaceXxs;
		}
		svg{
			width: $socialIcons;
			height: $socialIcons;
		}
	}//end platform links
}//end field platforms


