/* ==============
	 BUTTONS
================== */
@use '../../00-base/base' as *;
@use 'button-mixins' as *;

//button classes
.ec-button {
	@include button;
}
.button-danger-robinson{
	@include warningButton;
}

/* secondary task buttons
------------------ */
#block-citizen-dart-local-tasks .tabs.secondary a{
	background: $link !important;
	border-color: $link;
	color: $white;
	padding: .5rem 1.5rem;
	font-weight: bold;
	&:hover, &:focus, &.is-active{
		background: $white !important;
		color: $link;
		border-color: $link;
		outline: 0;
	}
}

/* DROPBUTTONS
--------------- */
.js{
	.dropbutton-multiple,.dropbutton-wrapper,.dropbutton-single{
		.dropbutton-widget{
			border-radius: 0;
			text-shadow: none;
			background: $siteBack;
			border: 1px solid $borderRule;
			min-width: 120px;
			&:empty{
				border: 0;
			}
			.dropbutton-action,.dropbutton-toggle{
				@include dropbutton;
			}
			.dropbutton-toggle{
				button{
					border-left: 1px solid $borderRule;
				}
			}
		}//end dropbutton widget
		.dropbutton-action{
			@include dropbutton;
			a{
				padding: .5rem 2.5rem;
			}
		}
	}//end dropbutton
}//end js

