/* ==================
 3RD PARTY GALLERY STYLES
====================*/

@use '../../00-base/base' as *;

@mixin outsideSliderArrows($arrowSpace,$arrowColor,$arrowHover){
	padding-left: $arrowSpace;
	padding-right: $arrowSpace;

	//override arrow padding then there are not enough slick items to have slider / have buttons
	.slick-list:only-child{
		@include edgeToEdge;
	}
	.slick-arrow{
		&.slick-prev{
			left: 0;
			&:before{
				border-right-color: $arrowColor;
			}
			&:hover:before{
				border-right-color: $arrowHover;
			}
		}
		&.slick-next{
			right: 0;
			&:before{
				border-left-color: $arrowColor;
			}
			&:hover:before{
				border-left-color: $arrowHover;
			}
		}
	}
}//end outside slider arrows

/* FEATHERLIGHT
------------------- */
.featherlight{
	background: $modalBack;
	.featherlight-content {
		background: $siteBack;
		padding: 0px !important;
		border-bottom: 0px !important;
		margin-left: 5%;
		margin-right: 5%;
		//controls
		.featherlight-close-icon {
			background: none;
			font-size: 24px;
			color: $modalGalButton;
			text-shadow: 2px 2px 3px $modalGalButtonShadow;
			height: 32px;
			width: 32px;
			font-family: $bodyFont;
			&:hover,&:focus{
				color: $modalGalButtonHover;
				background: $modalGalButtonBackHover;
				text-shadow: 2px 2px 3px $modalGalButtonShadowHover;
			}
		}
		.featherlight-previous {
			position: absolute;
			left: 0;
			top: 0;
			right: auto;
			width: 15%;
			min-width: 60px;
			span {
				display: block;
		    font-size: 0;
		    width: 0;
		    left: auto;
		    right: 90%;
				&:before{
					position: absolute;
					top: 40px;
					left: 10%;
					@include materialIcon('arrow_back');
				}
			}
			&:hover,&:focus {
				background: $modalGalButtonBackHover;
				span {
					border-right-color: $link;
					@include transition(border-right-color, 0.3s, ease);
				}
			}
		}
		//end previous
		.featherlight-next {
			position: absolute;
			right: 0;
			top: 0;
			left: auto;
			width: 15%;
			min-width: 60px;
			span {
				display: block;
		    font-size: 0;
		    width: 0;
		    left: 70%;
		    right: auto;
				&:before{
					position: absolute;
					top: 40px;
					@include materialIcon('arrow_forward');
				}
			}
			&:hover,&:focus {
				background: $modalGalButtonBackHover;
				span {
					border-left-color: $link;
					@include transition(border-left-color, 0.3s, ease);
				}
			}
		}
		//end next
		img {
			display: block;
		}
		.field-caption {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			z-index: 30;
			background: rgba(35,35,35,0.6);
			color: $white;
			padding: 1rem 2rem;
		}
		.gallery-text {
			max-width: $textMax;
			padding: 4rem 6rem;
		}
	}//end featherlight content
}//end featherlight

/* SLIDER STYLING
-------------- */
.slick-slider {
	.slick-list {
		@include listReset;
	}
	.slick-arrow {
		z-index: 1;
		height: 100%;
		top: 0;
		@include translate(0,0);
		width: 15%;
		min-width: 60px;
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: calc(50% - 10px);
		}
		&.slick-prev {
			left: 0;
			&:before{
				left: 20px;
				@include materialIcon('arrow_back');
			}
			&:hover,&:focus{
				&:before{
					border-right-color: $link;
					@include transition(border-right-color, 0.3s, ease);
				}
			}
		}
		&.slick-next {
			right: 0;
			&:before{
				right: 20px;
				@include materialIcon('arrow_forward');
			}
			&:hover,&:focus{
				&:before{
					border-left-color: $link;
					@include transition(border-left-color, 0.3s, ease);
				}
			}
		}
	}
}//end slick-slider
