/* =============
	PRINT CSS
================ */

@use '../../00-base/base' as *;

@media print{

	/* hide extraneous settings */
	#block-citizen-dart-mainnavigation,.block-system-breadcrumb-block,#block-secondary-menu,#block-page-menu,#block-search-form,.paragraph--type--video,.body ul.social-links,.views-exposed-form,.block-addtoany-block,.block-local-tasks-block{
		display: none;
	}

	/* header styles */
	.site-header{
		border-bottom: 1px solid $borderRule;
		.block-system-branding-block{
			max-width: 200px;
		}
	}

	/* ACCORDIONS */
	.accordion-item .field-long-text{
		display: block !important;
	}

	/* FOOTER */
	footer .footer-inner .block:not(:last-child){
		margin-bottom: 0;
	}
}// end print
